<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net461" />
  <package id="Serilog" version="2.7.1-dev-00960" targetFramework="net461" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00771" targetFramework="net461" />
  <package id="SQLite.CodeFirst" version="1.5.1.25" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net461" />
</packages>